<footer class="footer">
    <div class="social">
        <a href="https://www.facebook.com/profile.php?id=100093443201048" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
        <a href="https://www.linkedin.com/in/dylanvillanueva/" target="_blank"><i class='bx bxl-linkedin-square' ></i></a>
        <a href="https://x.com/mupdlv" target="_blank"><i class='bx bxl-twitter' ></i></a>
        <!-- <a href="#"><i class='bx bxl-instagram-alt' ></i></box-icon></a> -->
    </div>

    <ul class="list">
        <li>
            <a href="#">FAQ</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <a href="#">Privacy Policy</a>
        </li>
    </ul>

    <p class="copyright">&copy; {{ current_year }} mup | All Rights Reserved.</p>
</footer>