<section id="home" class="home">
  <div class="home-content">
    <h3>Hi</h3>

    <h1>
      I'm <span>mup<br /></span>a Software Developer
    </h1>

    <p>
      I specialize in crafting dynamic and user-friendly applications. With a
      deep-seated passion for automation and scripting, I thrive on creating
      efficient and innovative solutions. From intuitive web interfaces to
      robust backend systems, I bring ideas to life. Explore my portfolio
      spanning diverse applications and websites. Let's collaborate on turning
      your vision into reality!
    </p>

    <div class="btn-box">
      <a href="#contact" class="btn-1">Hire Me</a>
      <a href="static/assets/resume.pdf" download="resume.pdf" class="btn-2">Experience</a>
    </div>
  </div>
  <div class="img-box">
    <img src="static/assets/image1.png" alt="" />
  </div>
</section>
