<section id="about" class="about">
  <div class="about-img">
    <img src="static/assets/image2.jpg" alt="" />
  </div>

  <div class="about-content">
    <h2 class="heading"><span>About </span>Me</h2>
    <h3>Software <span>Developer</span></h3>
    <p>
      Hi, I'm mup, a software developer based in Fort Worth, Texas. My journey
      into software development began in high school, where I took two years of
      computer programming courses. After graduating from Azle High School, I
      continued my education at Howard Payne University for a couple of years,
      further nurturing my passion for programming.<br /><br />

      I'm proficient in Python, HTML, and CSS, with a good grasp of JavaScript.
      My true love lies in automation and scripting, but I enjoy all aspects of
      software development, particularly backend work. I thrive on creating
      software that simplifies life and streamlines tasks, making day-to-day
      activities more efficient.<br /><br />

      Beyond coding, I'm an avid movie and TV enthusiast, with a special love
      for horror films. I also enjoy gaming, learning new languages, and
      running. My journey into software development wasn't sparked by a single
      moment but rather evolved over time as I pondered the exciting potential
      of creating diverse applications.<br /><br />

      I'm actively seeking a software development role that aligns with the
      philosophy, "Choose a job you love, and you will never have to work a day
      in your life."" I'm eager to contribute my skills and passion within
      companies, freelancing, or remote work settings. I'm particularly drawn to
      opportunities where I can make a positive impact, including roles with
      startups and organizations committed to making a meaningful change.<br /><br />

      I have a lifelong learning mindset and a passion for continuous
      improvement. I approach problem-solving methodically, breaking down
      challenges into simple, logical steps. In my programming, I prioritize
      clarity and thoroughness, ensuring that my code is easy to read and
      understand.<br /><br />

      Let's connect and see how we can turn your ideas into reality!
    </p>
    <div class="btn-container">
      <a href="static/assets/resume.pdf" download="resume.pdf" class="btn-2"
        >Experience</a
      >
    </div>
  </div>
</section>
