<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head-section.html" %}
    <title>Home</title>
  </head>
  <body>
    {% include "navbar-section.html" %}
    {% include "home-section-1.html" %}
    {% include "home-section-2.html" %}
    {% include "home-section-3.html" %}
    {% include "footer-section.html" %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/f8e1a90484.js" crossorigin="anonymous"></script>
  </body>
</html>