<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head-section.html" %}
    <title>Life in Weeks</title>
  </head>
  <body>
    {% include "navbar-section.html" %}
    <div class="main-section">
      <h1 class="project-title">Welcome to Life in Weeks!</h1>
      <form method="post" action="{{ url_for('life_in_weeks') }}">
        <div class="input-box">
          <label for="life-in-weeks-age">What's your age? (years)</label>
          <input id="life-in-weeks-age" type="text" placeholder="Age (years)" name="ageYears" required>
        </div>
        <input type="submit" value="Calculate Weeks Remaining" class="project-btn btn-2">
      </form>
      <h2 class="result">Weeks remaining alive (<em>if you live to age 90</em>): {{ WEEKS_REMAINING_ROUNDED }}</h2>
    </div>
    {% include "footer-section.html" %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/f8e1a90484.js" crossorigin="anonymous"></script>
  </body>
</html>