<section id="projects" class="projects">
    <div class="project-content">
      <h1>
        <a href="{{ url_for('workout_calculator') }}"><span>Workout Calculator</span></a>
      </h1>
      <h1>
        <a href="{{ url_for('weather_forecaster') }}"><span>24 Hour Weather Forecaster</span></a>
      </h1>
      <h1>
        <a href="{{ url_for('city_coordinates_finder') }}"><span>City Coordinates Finder</span></a>
      </h1>
      <h1>
        <a href="{{ url_for('age_guesser') }}"><span>Age Guesser</span></a>
      </h1>
      <h1>
        <a href="{{ url_for('gender_guesser') }}"><span>Gender Guesser</span></a>
      </h1>
      <h1>
        <a href="{{ url_for('rock_paper_scissors') }}"><span>Rock, Paper, Scissors</span></a>
      </h1>
      <h1>
        <a href="{{ url_for('heads_or_tails') }}"><span>Heads or Tails</span></a>
      </h1>
      <h1>
        <a href="{{ url_for('leap_year_checker') }}"><span>Leap Year Checker</span></a>
      </h1>
      <h1>
        <a href="{{ url_for('bmi_calculator') }}"><span>BMI Calculator</span></a>
      </h1>
      <h1>
        <a href="{{ url_for('tip_calculator') }}"><span>Tip Calculator</span></a>
      </h1>
      <h1>
        <a href="{{ url_for('life_in_weeks') }}"><span>Life in Weeks</span></a>
      </h1>
      <h1>
        <a href="{{ url_for('band_name_generator') }}"><span>Band Name Generator</span></a>
      </h1>
    </div>
  </section>
  